// Don't copy and paste the code bellow before check your local configuration 
// PORT=8080 BIND_ADDRESS="127.0.0.1" SERVER_URL="http://localhost" 
// DB_HOST=127.0.0.1 DB_NAME=petlovers DB_USER=root DB_PASSWORD=rootroot 
// DB_CHARSET=utf8mb4 

// Before run the migration and seed you need to create a database named "petlovers" using the following command on mysqlBench: 
// CREATE DATABASE petlovers CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci; 

// To run the migration, use: 
// npm run migrate 

// To run the seed: 
// npm run seed 

// To start the server: 
// npm run dev
